In [1]:
from acquire import acquire_zillow
from prepare import prepare_zillow

In [2]:
zillow_df = acquire_zillow()

In [3]:
prepped_data = prepare_zillow(zillow_df)

In [4]:
population = prepped_data['population']
samples = prepped_data['samples']

       bathrooms  bedrooms  total_sqft  tax_value  tax_amount    fips
22175        2.0       3.0      1358.0   223489.0     2808.24  6037.0
22006        2.0       2.0      1639.0   741035.0     9107.42  6037.0
17258        2.0       3.0      1701.0   680217.0     8194.77  6037.0
16412        2.0       3.0      1477.0   223116.0     3013.79  6037.0
3556         1.0       1.0       480.0    45881.0      702.78  6037.0
3836         2.0       3.0      1474.0   438133.0     4686.34  6111.0
8352         2.0       4.0      2200.0   578266.0     5904.92  6059.0
33277        3.0       4.0      2544.0   430083.0     5151.68  6037.0
12855        3.0       3.0      1822.0    68084.0      985.16  6037.0
7738         2.0       2.0      1305.0   271000.0     3444.48  6037.0
33806        3.0       4.0      2544.0   816144.0    10701.16  6037.0
30641        2.0       2.0      1833.0    96049.0     1373.72  6037.0
28264        2.0       3.0      1446.0   346659.0     4280.37  6037.0
38357        1.0       2.0       540.0    88349.0     1312.70  6037.0